//whether or not to include .remaining class
$include-remaining: true !default;
$include-spacing-classes: false !default;
$include-typography: true !default;
$include-utility-classes: true !default;
$one-slice: 100%/12;
$amount: 0.79rem;