@mixin row-column-containers {

    %row,
    %flex,
    %column,
    %flex-row,
    %flex-column,
    %row-reversed,
    %column-reversed {
        display: flex;
        align-items: flex-start;
    }

    %noshrink-each>*,
    %noshrink {
        flex-shrink: 0;
    }

    %inline-flex {
        display: inline-flex;
    }

    %row-reversed {
        flex-flow: row-reverse;
    }

    %column-reversed {
        flex-flow: column-reverse;
    }

    %flex-column,
    %column {
        flex-flow: column;
    }
}

@import "../spacing/spacing";